/*resteos generales*/
*{
	box-sizing: border-box;
}
ul, ol{
	padding:0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}

body{
	background-image: url(img/bg-2.png);
}
header{
	overflow: hidden;
	background-color: red;
	padding: 10px;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.logo, .menu{
	float: left;
}
.logo{
	margin-right: 10px;

}
.login{
	float: right;
}
nav li{
	float: left;
	margin: 0 10px;
}
nav li a{
	text-transform: uppercase;
	color: white;
}
nav ul{
	overflow: hidden;
}
/*cuerpo General*/
.cuerpoGeneral{
	width: 1140px;
	margin: 0 auto;
	padding-top: 20px;
	overflow: hidden;
}
/*cuerpo principal izquierdo*/
.cuerpoIzquierdo{
	background-color: white;
	width: 800px;
	float: left;
}
/*cuerpo izquierdo*/
.cuerpoIzquierdo img,.cuerpoIzquierdo p, .cuerpoIzquierdo h2{
	width: 100%;
}
.cuerpoIzquierdo a{
	background-color: red;
	color:white;
	padding: 5px;
}
.cuerpo1, .cuerpo2, .cuerpo3, .cuerpo4, .cuerpo5, .cuerpo6 {
	width: 380px;
	float: left;
	margin: 10px;
}
.cuerpo3, .cuerpo4, .cuerpo5, .cuerpo6 {
	margin-top: 20px;
}
/*cuerpo Principal derecho*/
.cuerpoDerecho {
	width: 320px;
	float: right;
}
/*cuerpo derecho*/
.otrosLink a{
	float: right;
	width: 180px;
	padding: 3px;
	margin-top: 15px;
}
.otrosLink li{	
	overflow: hidden;
	margin: 3px;
}
.otrosLink li, .titulos h2, .publicidad li{
	padding: 10px;
	background-color: white;
}
.titulos h2{
	margin: 0 auto;
}
/*login*/
.ingreso{
	width: 350px;
	margin: 0 auto;
	padding: 0;
}
.ingreso h1{
	text-align: center;
}
.recordar{
	float:right;
	margin-top: 0px;
}
.ingreso div{
	overflow: hidden;
}
button{ 
	background-color: #328dd8;
	color: white;
	border-radius: 5px;
	border: 0px;
	padding-top: 5px ;
	padding-bottom: 5px;
	padding-left: 25px;
	padding-right: 25px;
}
.ingreso ul input{
	width: 100%;
}
/*registro*/
.hobbies input, .generos input{
	width: 10px;
	height: 10px;
}
.ingreso p textarea{
	width: 200px;
	height: 100px;
}
.datosPersonales input{
	width: 100%;
}
.paises select{
	border-radius: 5px;
	padding: 2px;
}
